@import "mixins.less";

@perspective: 1500px;
@viewAngle: -30deg;

@grid: 100px;

* {
	.box-sizing(border-box);
	.no-smoothing;
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
	overflow: hidden;
}

body {
	.perspective(@perspective);
	.perspective-origin(50%, 0%);
	.transition(250ms);
	
	background: #000;

	&.fade {
		&:after {
			content: "";
			.fill-container;
			background: fadeOut(white, 2%);
		}
	}
}

#World{
	position: absolute;
	left: 50%;
	top: 50%;
	background: transparent;
	
	.transform-style(preserve-3d);
}

.room{
	position: absolute;
	
	.transform-style(preserve-3d);
}

.wall{
	position: absolute;

	.transform-origin(0%, 0%);
	
	border: 1px solid #000;
	
	&.x-plane{
		opacity: .5
	}
}

.floortile{
	position: absolute;
	background: #fff;
}

.char{
	position: absolute;
	background: red;
}

.player{
	left: 50%;
	top: 50%;
	.absolute-center(@grid, @grid);
	
	margin-top: -(@grid);
	
	.transform(rotateX(-60deg));
	.transform-style(preserve-3d);
	
	.transition(all 200ms);
	
	&.down{
		.transform(rotateX(-60deg) rotateY(180deg));
	}
	
	&.left{
		.transform(rotateX(-60deg) rotateY(90deg));
	}
	
	&.right{
		.transform(rotateX(-60deg) rotateY(270deg));
	}
	
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: @grid;
		height: 5px;
		border-radius: 100%;
		background: rgba(0,0,0,.15);
		
		box-shadow: 0 0 30px #000;
		
		.transform(rotateX(90deg) translate3d(0, 0px, 0))
	}
}